<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>热门微博</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>找人</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>周边</string>
			<key>detail</key>
			<string>点评or吐槽一下周边的美食吧！</string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>奔跑2015</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>股票</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>旅游</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
        <dict>
            <key>title</key>
            <string>电影</string>
            <key>detail</key>
            <string>榜单颜值升级热度爆表</string>
            <key>icon</key>
            <string>image_placeHolder.png</string>
            <key>isNew</key>
            <false/>
        </dict>
        <dict>
            <key>title</key>
            <string>听歌</string>
            <key>detail</key>
            <string></string>
            <key>icon</key>
            <string>image_placeHolder.png</string>
            <key>isNew</key>
            <false/>
        </dict>
        <dict>
            <key>title</key>
            <string>购物</string>
            <key>detail</key>
            <string></string>
            <key>icon</key>
            <string>image_placeHolder.png</string>
            <key>isNew</key>
            <false/>
        </dict>
        <dict>
            <key>title</key>
            <string>更多</string>
            <key>detail</key>
            <string></string>
            <key>icon</key>
            <string>image_placeHolder.png</string>
            <key>isNew</key>
            <false/>
        </dict>
	</array>
</array>
</plist>
