<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>新的好友</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>微博等级</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的相册</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的点评</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的赞</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>微博会员</string>
			<key>detail</key>
			<string>卡片背景、送流量</string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>微博运动</string>
			<key>detail</key>
			<string>步数、卡路里、跑步轨迹</string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>微博支付</string>
			<key>detail</key>
			<string>积分换好礼</string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>草稿箱</string>
			<key>detail</key>
			<string></string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>更多</string>
			<key>detail</key>
			<string>收藏、等级</string>
			<key>icon</key>
			<string>image_placeHolder.png</string>
			<key>isNew</key>
			<false/>
		</dict>
	</array>
</array>
</plist>
